@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');
/*
font-family: Bebas  Neue , sans-serif;
font-family: Poppins , sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
font-family: 'Poppins',sans-serif;
background-color: #F1F4FD;

}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    color: #000D83;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul {
    display: flex;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 0 20px;
    color:#000D83;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a :hover  {
    color: #3EC4FF;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    padding: 80px 0 0 0;
}

.header-text {
    flex-basis: 50%;
    padding-right: 30px;
}

.header-text span {
    font-size: 18px;
    text-transform: capitalize;
    color: #ff5d5d;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
}

.header-text h1 {
    font-size: 70px;
    line-height: 1;
    color: #000D83;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom:15px ;
}

p {
    font-size: 18px;
    color: #2C39AA;
    margin-bottom: 50px;
}

.btn-1 {
    display: inline-block;
    padding: 14px 25px;
    background-color: #000D83;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(33,40,105, 0.2);
}

.header-img {
    flex-basis: 50%;
    display: flex;
    justify-content: right;
}


.brands {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0 15px 20px rgba(33,40,105, 0.2);
}

.brands-1 {
    flex-basis: calc(25% - 25px);
}

.brands-1 p {
    font-size: 25px;
    line-height: 1;
    font-weight: 600;
    color: #000D83;
    margin: 0;
}

.brands-1 img  {
    width: 150px;
}

.services {
    padding: 100px  0;
    text-align: center;
}

h2 {
    font-size: 40px;
    line-height: 1;
    color: #000D83;
    margin-bottom: 20px;
}

.services-content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.services-1 {
    flex-basis: calc(20% - 30px);
    background-color: #FBFCFE;
    padding: 40px;
    box-shadow: 0 0 10px rgba(33,40,105, 0.2);
    border-radius: 25px;
    color: #000D83;
}

.services-1:hover  {
    background-color: #000D83;
    color: #FFFFFF;
    cursor: pointer;
}

.services-1 img {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
}

.services-1 h3 {
    font-size: 20px;
    line-height: 1.2;
}

.information  {
    padding: 50px 0 100px 0;
    display: flex;
    align-items: center;
}

.information-img {
    flex-basis: 50%;
    border-radius: 890%;
}

.information-txt {
    flex-basis: 50%;
    padding-left: 50px;
}

.about{
    padding: 80px 0;
    background-color: #F1F4FD;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-txt {
    flex-basis: 50%;
    padding-right: 80px;
}

.about-img {
    flex-basis: 50%;
}

.contatc {
    padding: 120px 0;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

input {
    width: 300px;
    padding: 17px;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(33,40,105, 0.2);
    margin-right: 20px;
}


#btn-mas{
    display: none;
}
.container-wp{
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.redes a, .btn-mas label{
    display: block;
    text-decoration: none;
    background: #4dd17f;
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}
.redes a:hover{
    background: #fff;
    color: #4dd17f;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{
    cursor: pointer;
    background: #4dd17f;
    font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{
    
    font-size: 25px;
}

.footer {
    background-color: #0D0541;
    padding: 50px  0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer p {
    color: #FFFFFF;
    padding: auto;
    text-align: center;
}

.footer h3 {
    flex-basis: 50%;
    padding-right: 30px;
    text-align: center;
}

.link h3 {
    color: #F1F4FD;
    font-size: 18px;
    margin-bottom: 10px;
}

.link a  {
    color: #F1F4FD;
    font-size: 17px;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: #3EC4FF;
}

@media(max-width:991px)  {


    .menu {
        padding: 20px;
        position: relative;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #3EC4FF;
        display: none;
    }

    .menu .navbar ul {
        flex-direction: column;
    }

    .menu .navbar ul li {
        color: #F1F4FD;
    }

    .menu .navbar ul li a:hover {
        color: #F1F4FD;
    }

    #menu:checked  ~ .navbar {
        display: initial;
    }

    .header-content {
        padding: 20px 30px;
        flex-direction: column;
        text-align: center;
    }

    .header-text {
        padding: 0;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 30px;
    }

    .brands {
        padding: 30px;
        margin: 0 30px;
        flex-direction: column;
    }

    .brands-1 {
        text-align: center;
    }

    .brands-1 p {
        margin-bottom: 15px;
    }

    .brands-1 img {
        margin-bottom: 10px;
    }

    .services {
        padding: 50px 30px 30px 30px;

    }

    .services-content {
        flex-direction: column;
    }

    .services-1 {
        margin-bottom: 30px;
    }

    .information {
        padding: 0 30px 30px 30px;
        flex-direction: column;
        text-align: center;
    }

    .information-txt {
        padding: 0 0 30px 0;
    }

    .information-img {
        order: 2;
    }

    .about {
        padding: 30px;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-txt {
        padding: 0 0 30px 0;
    }

    .contatc {
        padding: 50px 30px;
    }

    form {
        flex-direction: column;
    }

    input {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }

}